@import "tailwindcss";

:root {
  /* Backgrounds */
  --bg-primary: #030303;
  --bg-secondary: #0A0A0A;
  --bg-elevated: #111111;

  /* Surfaces */
  --surface-primary: #0A0A0A;
  --surface-secondary: #111111;
  --surface-tertiary: #181818;

  /* Borders */
  --border-primary: rgba(255,255,255,0.08);

  /* Brand Colors */
  --accent: #FF4400;
  --accent-hover: #FF5A1F;

  /* Secondary Brand Color */
  --brand-secondary: #814940;
  --brand-secondary-soft: rgba(129,73,64,0.12);

  /* Text */
  --text-primary: #FFFFFF;
  --text-secondary: #A1A1AA;
  --text-muted: #71717A;

  /* States */
  --success: #00FF66;
  --warning: #FF4400;
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

  background: var(--bg-primary);

  color: var(--text-primary);

  font-family: "Inter", sans-serif;

  min-height: 100vh;

  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
  letter-spacing: -0.03em;
}

button {
  cursor: pointer;
}

::selection {
  background: var(--accent);
  color: white;
}
