@import "tailwindcss";

:root {
  --bg-primary: #0F0F10;
  --bg-secondary: #171717;
  --bg-elevated: #1E1E1E;

  --surface-primary: #111111;
  --surface-secondary: #181818;
  --surface-tertiary: #202020;

  --border-primary: rgba(255,255,255,0.08);

  --accent: #E85D2A;
  --accent-hover: #F97316;

  --text-primary: #FFFFFF;
  --text-secondary: #A1A1AA;
  --text-muted: #71717A;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

  background: var(--bg-primary);

  color: var(--text-primary);

  font-family: "Inter", sans-serif;

  min-height: 100vh;

  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
  letter-spacing: -0.03em;
}

button {
  cursor: pointer;
}

::selection {
  background: var(--accent);
  color: white;
}
